
@{
    ViewData["Title"] = "My Podcasts";
}
@*my podcasts page*@
<h1>My Podcasts</h1>
@*link to baconsale site*@
<div>
    <p>Welcome! View my podcasts here:</p>
    <a href="https://baconsale.com/">Baconsale Website</a>
</div>